<nav class="main-menu text-end" id="mobile-menu">
<ul>
    
    {% for link in site.data.navigation %}
    {% assign active = nil %}

    {% for sublink in link.submenu %}
        {% if page.url contains sublink.url %}
            {% assign active = 'active' %}
        {% endif %}
    {% endfor %}

    {% if page.url contains link.url %}
        {% assign active = 'active' %}
    {% endif %}
     
    <li>
		{% if link.text contains "Blog" %}
		<a href="{{link.url}}">{{link.text}}{% if link.submenu %}<i class="icofont-simple-down"></i>{% endif %}</a>
		{% else %}
        <a href="{{link.url}}" target="_blank">{{link.text}}{% if link.submenu %}<i class="icofont-simple-down"></i>{% endif %}</a>
		{% endif %}
        {% if link.submenu %}
        <ul class="sub-menu">
            {% for sublink in link.submenu %}
            <li><a href="{{sublink.url}}">{{sublink.text}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
    <li>
        <button class="icon-button" data-bs-toggle="modal" data-bs-target="#search-modal"> 
            <i class="fas fa-search"></i> 
        </button>
    </li>
</ul>
</nav>

<!-- Modal Search -->
<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form>
                <input type="text" id="search-input" placeholder="Rechercher un article..">
                <button><i class="fa fa-search"></i></button>
            </form>
            <ul id="results-container"></ul>
        </div>
    </div>
</div>

