<div id="side-magnet-angular" class="card shadow-side-magnet widget p-3 d-none d-lg-block">
    <h4 class="card-header text-center">Téléchargez votre Starter Kit Angular</h4>
    <div class="card-body d-flex flex-column align-items-center">
        <img id="img-starter" class="mb-3" src="/assets/img/blog/starter-kit/cadeau_starter.png" alt="starter-kit-angular">    
      <h5 class="card-title">En souscrivant vous recevrez :</h5>
        <ul id="list-starter">
            <li>Une roadmap d'un développeur Angular</li>
            <li>Un cookbook Angular des commandes les plus utiles</li>
            <li>Un extrait de formation</li>
        </ul>
      <a href="#" class="btn btn-primary mt-4">Recevoir votre Starter Kit Angular !</a>
      <p class="starter-p">100% gratuit.</p>
    </div>
</div>