<div class="col-12 border-dashed p-3 mb-5">
    <h4 class="text-center">Téléchargez votre Starter Kit Angular</h4>
    <div class=" d-flex flex-column flex-lg-row align-items-center justify-content-center">
        <img id="img-starter" src="/assets/img/blog/starter-kit/cadeau_starter.png" alt="Starter Kit Angular">
        <div class="d-flex flex-column align-items-center justify-content-center p-2">
            <p>En souscrivant vous recevrez :</p>
            <ul id="list-starter">
                <li>Une roadmap d'un développeur Angular</li>
                <li>Un cookbook Angular des commandes les plus utiles</li>
                <li>Un extrait de formation</li>
            </ul>
            <span class="p-1">
                <button class="btn btn-primary" id="linkModalSection">Recevoir votre Starter Kit Angular !</button>
            </span>
            <p id="starter-p">100% gratuit.</p>
        </div>
    </div>

</div>