<div class="border-dashed d-flex align-items-center justify-content-center p-5 mb-5">
    <img id="img-starter" src="/assets/img/blog/starter-kit/cadeau_starter.png" alt="">
    <div class="d-flex flex-column align-items-center justify-content-center p-3">
        <p>En souscrivant vous recevrez :</p>
        <ul id="list-starter">
            <li>Une roadmap d'un développeur Angular</li>
            <li>Un cookbook Angular des commandes les plus utiles</li>
            <li>Un extrait de formation</li>
        </ul>
        <span class="p-1">
            <button class="btn btn-primary" id="linkModalSection">Recevoir votre Starter Kit Angular !</button>
        </span>
        <p>100% gratuit.</p>
    </div>
</div>