#author-content{
box-shadow: 8px 7px 4px -3px rgba(0,0,0,0.18);
-webkit-box-shadow: 8px 7px 4px -3px rgba(0,0,0,0.18);
-moz-box-shadow: 8px 7px 4px -3px rgba(0,0,0,0.18);
border-radius: 3px;
padding: 10px;
}

#infos_author{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#name_email_author{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

#name_author{
}

#image_author{

}

#bio_author{

}

#email_author{
    margin-left: 5px;
    color: rgb(173, 173, 173);
}