---
layout: post
title: "Angular - Les Directives - comment les utiliser et pourquoi ?"
date: 2021-07-12 9:40:50 +0100
description: "Dans cet article vous allez découvrir les directives d'Angular, comment les utiliser et dans quel contexte."
tags: developpement web Angular
categories: [Développement web]
author: "lucas"
post_image: "assets/img/blog/article_angular_directive.png"
toc-text-mode: false
toc-depth: 5
author: lucas
lang: fr
---

<p>Vous avez besoin d’ajouter des comportements aux objets de votre DOM et de manière réutilisable ?
 Dans cet article vous allez découvrir les directives du framework Angular avec ses utilisations 
 et leurs contextes.
</p>
<div id="toc" class="blog-toc"></div>

 <a id="qu'est-ce-qu'une-directive" class="anchor"></a>
<h2>Qu’est-ce qu’une directive ?</h2>

<p>Pour commencer, <span class="font-weight-bold"></span>les directives d'Angular sont des classes qui ajoutent un comportement supplémentaire aux éléments du DOM. 
Ces directives s'appliqueront dans vos fichiers HTML, sur les balises où vous les apposerez (composants et/ou les balises HTML).
</span>   
</p>

<a id="structural-directives" class="anchor"></a>
<h2>Structural Directives</h2>

<p>Commençons par voir les "Structural Directives" qui permettent de travailler sur la structure de votre HTML. 
Ces directives sont fournies par Angular et vous permettent d'ajouter, retirer ou manipuler les éléments du DOM.
</p>

<p>Les voici :</p>

<ol>
    <li>*NgIf</li>
    <li>*NgFor</li>
    <li>[NgSwitch], *NgSwitchCase, *NgSwitchDefault</li>
</ol>

<a id="exemple-structural-directives" class="anchor"></a>
<h3>Exemple</h3>

<a id="NgIf" class="anchor"></a>
<h4>NgIf</h4>

{% highlight html linenos %}
<p *ngIf="condition">Affiche ce paragraphe si la condition est vraie.</p>
{% endhighlight %} 

<a id="NgFor" class="anchor"></a>
<h4>NgFor</h4>

{% highlight html linenos %}
    <ol>
        <li *ngFor="let user of users"> {{user.name}} {{user.lastname}} </li>
    </ol>
{% endhighlight %} 

<a id="NgSwitch" class="anchor"></a>
<h4>NgSwitch</h4>

{% highlight html linenos %}
    <div [ngSwitch]=”expression à évaluer”>
        <p *ngSwitchCase=”valeur_1”> Ce paragraphe est affiché si l’expression évaluée équivaut à valeur_1 .</p>
        <p *ngSwitchCase=”valeur_2”> Affiche ce paragraphe si l’expression à évaluer est égal à valeur_2.</p>
        <p *ngSwitchDefault> Affiche ce paragraphe si aucune des valeurs n'est égale à l'expression.</p>
    </div>
{% endhighlight %} 

<a id="attribute-directives" class="anchor"></a>
<h2>Attribute Directives </h2>

<p>De plus, il y a les “Attributes Directives”, 
ce sont des classes ayant comme décorateur “@Directive” 
permettant d'agir sur les attributs d’éléments du DOM. 
</p>

<a id="attribute-directives" class="anchor"></a>
<h2>Directives d'attributs intégrées </h2>

<p>Avec les directives d’attributs intégrées d'Angular, 
vous pouvez gérer certains éléments de votre DOM tels que les formulaires, 
les styles et les classes. 
</p>

<p>On retrouve :</p>

<ol>
    <li>NgClass</li>
    <li>NgStyle</li>
    <li>NgModel</li>
</ol>

<a id="exemple-directives-attributs-integrees" class="anchor"></a>
<h2>Exemple</h2>

<a id="NgClass" class="anchor"></a>
<h3>NgClass</h3>

<p>On peut ajouter ou supprimer plusieurs classes CSS simultanément avec ngClass. 
Sur un élément que vous souhaitez stylisé ajoutez : [ngClass] 
et si l’expression est vraie alors Angular appliquera la classe.
</p>

{% highlight html linenos %}
<div [ngClass]="{ 'card' : isCard && isFirst, 'card bg-blue' : isCard && isSecond, '': false }"></div>
{% endhighlight %} 

<a id="NgStyle" class="anchor"></a>
<h3>NgStyle</h3>

<p>NgStyle permet de définir plusieurs styles, selon l'état du composant.</p>
<p>Dans votre composant :</p>

{% highlight ts linenos %}
currentStyles: Record<string, string> = {};

  setCurrentStyles() {

etatUn: boolean; 

etatDeux = true: boolean;

etatTrois: boolean;

    this.currentStyles = {

      'font-style':  this.etatUn      ? 'italic' : 'normal',

      'font-weight': !this.etatDeux ? 'bold'   : 'normal',

      'font-size':   this.etatTrois    ? '24px'   : '12px'

    };

  }

{% endhighlight %} 

<p>Pour définir les styles de l'élément, ajoutez une ngStyle à currentStyles sur votre élément.</p>

{% highlight html linenos %}
<div [ngStyle]="currentStyles">Le texte de cette div est initialement en italic, d'épaisseur normale, et de grande taille (24px).</div>
{% endhighlight %} 

<a id="NgModel" class="anchor"></a>
<h3>NgModel</h3>

<p>Utilisez la directive NgModel sur un input pour réaliser une liaison bidirectionnelle entre votre template et votre component. 
    Une variable annotée "ngModel" sera dite "bindée". Donc si l'utilisateur modifie la donnée côté template, elle est aussitôt modifié en temps réel dans le component. 
    Et vice-versa si vous changez la valeur depuis le component, la valeur sera actualisée instantanément sur le template.
</p>

<p>Tout d'abord, commencez par importer le module FormsModule dans la liste des imports NgModule.</p>

<p>Ensuite ajoutez une liaison sur l’élément HTML comme ceci :</p>


{% highlight html linenos %}
<label for="example-ngModel">[(ngModel)]:</label>
<input [(ngModel)]="currentItem.name" id="example-ngModel">
{% endhighlight %} 

<p>Toutefois, attention car avec cette syntaxe on ne peut définir qu’une seule propriété liée. 
    C’est à dire que la valeur de l’input ne peut pas être liée à 2 attributs de composant ou +. 
    Pour ce cas précis vous pouvez utiliser les reactiveForms. Nous les verrons dans un prochains articles dédiés aux formulaires.
</p>

<a id="creer-directive" class="anchor"></a>
<h2>Créer sa propre directive</h2>

<p>En premier lieu, pour créer une directive, utilisez la commande de la CLI : </p>

{% highlight ts linenos %}
ng generate directive <nom>
ng g d <nom>
{% endhighlight %} 

<p>Cela aura pour effet de créer les fichier typescript : </p>

<ol>
    <li>src/app/<nom>.directive.ts </li>
    <li>un fichier de test correspondant : src/app/<nom>.directive.spec.ts </li>
</ol>

<p>et de déclarer la classe directive dans le fichier AppModule.</p>

<p>Voici le contenu généré par la CLI dans le fichier src/app/<nom>.directive.ts :</p>

{% highlight ts linenos %}
import { Directive } from '@angular/core';

@Directive({

  selector: '[app<Nxom>]'

})

export class <nom>Directive {

  constructor() { }

}
{% endhighlight %} 

<p>La propriété selector du décorateur spécifie le sélecteur d'attribut de la directive, [app-<Nom>]. 
    C'est en plaçant ce sélecteur sur une balise de votre template que vous pourrez utiliser votre directive.
</p>

<p>
    Ensuite, Importer ElementRef depuis @angular/core. ElementRef permet d’accéder directement à l'élément DOM.
</p>

<p>
  De plus, Ajoutez ElementRef dans le constructor() pour injecter une référence à l'élément DOM hôte, 
  l'élément auquel vous appliquez appAnyDirective.
</p>

<p>Pour terminer, écrivez la logique votre directive :</p>

<a id="exemple-create-directive" class="anchor"></a>
<h3>Exemple</h3>

<p>Voici une directive qui colore en bleu le background de l'élément DOM sur lequel on l'utilise :</p>

{% highlight ts linenos %}
import { Directive, ElementRef } from '@angular/core';

@Directive({

  selector: '[appAnyDirective]'

})

export class AnyDirective {

  constructor(el: ElementRef) {

    el.nativeElement.style.backgroundColor = 'blue';

  }
}
{% endhighlight %} 

<a id="apply-attribute-directive" class="anchor"></a>
<h2>Appliquer une directive d'attribut</h2>

<p>Finalement, pour utiliser la directive, 
    ajoutez comme attribut à la balise le nom de la directive que vous avez précédemment créée.
</p>

{% highlight html linenos %}
<p appAnyDirective>Arrière plan bleu</p>.
{% endhighlight %} 

<a id="conf-directive" class="anchor"></a>
<h2>Configuration des directives</h2>

<a id="param-selector" class="anchor"></a>
<h2>Paramètre selector</h2>

<p>Pour commencer, le paramètre selector est le plus important car il va indiquer comment on utilisera la directive. 
    Selon la syntaxe qu’on utilisera, la directive sera un objet du DOM, une classe CSS ou un attribut dans une balise HTML.
</p>

<p>Le selector se paramètre dans le décorateur @Directive() : </p>

{% highlight ts linenos %}
@Directive({ 

    selector: <valeur> 
  
  }) 
  
  export class AnyDirective {}
{% endhighlight %} 

<a id="directive-balise" class="anchor"></a>
<h3>Directive utilisé en tant que balise</h3>

<p>selector: ‘any-directive’</p>

<p>Dans ce cas-ci, la directive doit être utilisé comme élément dans le template :</p>

{% highlight html linenos %}
<any-directive></any-directive>
{% endhighlight %} 


<a id="directive-attribute" class="anchor"></a>
<h3>Directive utilisé en tant qu'attribut</h3>

<p>selector: '[any-directive]'</p>

<p>Dans ce cas-ci, la directive doit être utilisé comme attribut dans l'élément :</p>

{% highlight html linenos %}
<div any-directive></div>
{% endhighlight %} 

<p>On peut aussi vouloir passer une valeur à cet attribut :</p>

{% highlight html linenos %}
<div[ any-directive]=”valeur”></div>
{% endhighlight %} 

<p>Dans ce cas là on récupère la valeur passé grâce à un input (de même nom que le selector) dans la directive :</p>

{% highlight ts linenos %}
@Input() appAnyDirective= '';
{% endhighlight %} 

<a id="directive-class-css" class="anchor"></a>
<h3>Directive utilisé en tant que classe CSS</h3>

<p>selector: '.custom-directive' </p>

<p>Pour l'exemple on utilise la directive sous forme de classe CSS.</p>

{% highlight html linenos %}
<div class="any-directive"></div>
{% endhighlight %} 

<p>Toutefois, le plus courant est d'utiliser les directives en tant qu'attributs.</p>

<a id="param-input" class="anchor"></a>
<h2>Paramètre inputs</h2>

<p>Inputs permet d’utiliser des paramètres d’entrée dans la directive. 
    Le nom du paramètre doit être sous forme de chaîne de caractères dans l'attribut inputs :
</p>

{% highlight ts linenos %}
import { Directive, ElementRef, Renderer2, OnInit } from '@angular/core'; 

@Directive({ 

  selector: 'custom-directive', 

  inputs: [ 'textToDisplay' ] 

}) 

export class CustomDirective implements OnInit { 

  textToDisplay: string; 

  constructor(private elem: ElementRef, private renderer: Renderer2) {} 

  ngOnInit(): void { 

    let newText = this.renderer.createText(this.textToDisplay); 

    this.renderer.appendChild(this.elem.nativeElement, newText); 

  } 

} 
{% endhighlight %} 
<p>Le paramètre ElementRef est particulier car c'est un wrapper de l’objet du DOM. 
    La propriété ElementRef.nativeElement permet ainsi d’accéder directement à l’objet du DOM.</p>

<p>Le paramètre de type Renderer2 permet d’obtenir une classe permettant de manipuler les éléments du DOM.</p>

<p>On transmet la valeur à partir du template dans lequel on renseigne l’attribut précédemment défini dans le paramètre inputs de la directive :</p>

{% highlight html linenos %}
<p>Host Component</p> 
{% endhighlight %} 

{% highlight html linenos %}
<custom-directive textToDisplay="Valeur défini depuis le template"></custom-directive> 
{% endhighlight %} 

<a id="param-output" class="anchor"></a>
<h2>Paramètre outputs</h2>

<p>Output permet de déclarer des événements de la directive auxquels le composant peut s’abonner. 
    Le nom de l'événement doit être sous forme de chaîne de caractères dans le paramètre outputs :</p>

{% highlight html linenos %}
<custom-directive textToDisplay="Valeur défini depuis le template"></custom-directive> 
{% endhighlight %} 

<a id="exemple-param-output" class="anchor"></a>
<h3>Exemple</h3>

<p>Prenons l'exemple d'une directive qui crée un bouton capable d'émettre un événement.</p>

{% highlight ts linenos %}
import { Directive, ElementRef, Renderer2 } from '@angular/ core'; 

@Directive({ 

  selector: 'custom-directive', 

  outputs: [ 'anyEvent' ]

}) 

export class CustomDirective { 

  anyEvent: EventEmitter<string> = new EventEmitter<string>();

  constructor(private elem: ElementRef, private renderer: Renderer2) { 

    let Button = this.renderer.createElement('button'); 

    let buttonText = this.renderer.createText('Cliquez'); 

    // On ajoute du texte au bouton 

    this.renderer.appendChild(Button, buttonText); 

    // On ajoute la callback correspondant au clique sur le bouton 

    this.renderer.listen(Button, 'click', () => this.buttonClicked());

    // On ajoute le bouton à l'élément (le composant) 

    this.renderer.appendChild(this.elem.nativeElement, Button); 

  } 

  private buttonClicked(): void { 

    this.anyEvent.emit('message');

  } 
} 
{% endhighlight %} 

<a id="param-provider" class="anchor"></a>
<h2>Paramètre providers</h2>

<p>Enfin, nous avons le paramètre providers pour injecter des services dans la directive. Voir l’article sur l’injection de dépendance pour plus de détails.</p>

<a id="conclusion" class="anchor"></a>
<h2>Conclusion</h2>

<p>Pour conclure, vous avez maintenant les connaissances qu’il faut pour savoir quand et pourquoi utiliser les directives, 
    n'hésitez pas à poser des questions en commentaires ! 
</p>

<a id="sources" class="anchor"></a>
<h2>Sources</h2>

<ol>
    <li><a href="https://cdiese.fr/angular-directives/">Cdièse - Angular Directive</a></li>
    <li><a href="https://angular.io/guide/attribute-directives">Angular - Attribute Directive</a></li>
</ol>