---
layout: default
---
{% include header.html %}
<main> 
<!-- breadcrumb-area -->
<section class="breadcrumb-area grey-bg height-200" style="background-image:url({{site.cover_image}})">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-md-8 section-title">
                <div class="breadcrumb-title sm-size">
                    {% if page.title contains "WiseBlog" %}
                    <img  class="w-75" src="/assets/img/header/new_blog_logo_slogan.png"> 
                    {% else %}                   
                    <div class="breadcrumb-title sm-size">
                        <h2>{{page.title}}</h2>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{{content}}
</main>